.list-select {
  padding-left: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  margin-bottom: 30px;
}
.list-name {
  display: inline-block;
  text-align: left;
  margin-bottom: 10px;
}
.css-10nd86i {
  width: 24.5%;
  padding: 0;
}
.contacts {
  list-style-type: none;
  padding-left: 0;
}