.card-grid {
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: auto 100px;
  border-left: 7px solid blue;
  margin-bottom: 25px;
  background-color: #fff;
  /* height: 300px; */
}
.card-first-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
/*   align-items: center; */
  border-bottom: 1px solid #000;
/*   align-content: space-between; */
  align-self: center;
  padding: 20px;
}
.card-upper {
  display: flex;
  flex-direction: column;
}
.card-title {
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.card-id {
  font-size: 14px;
}
.card-lower {
  display: flex;
  flex-direction: column;
}
.card-status {
  margin-bottom: 8px;
}
.card-last-status {
  font-size: 18px;
}

.card-second-row {
  display: flex;
  align-self: center;
  padding-left: 20px;
}
.card-download {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: yellow;
  place-self: center;
}