.App {
  background-color: #efefef;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-content {
  flex: 1 0 auto;
  padding-top: 35px;
  padding-bottom: 54px;
  width: 80%;
  margin: 0 auto;
}

.App-title {
  text-align: left;
  padding-bottom: 28px;
}